extends ./../layouts/shop-layout

block content
    .container
        .row
            .col-lg-6
                form.product-form(action="/admin/add-product", method="POST")
                    .form-group
                        label(for="title") Title
                        input.form-control(type="text", name="title")#title
                    .form-group
                        label(for="imageUrl") Image url
                        input.form-control(type="text", name="imageUrl")#imageUrl
                    .form-group
                        label(for="description") description
                        textarea(name="description", cols="30", rows="10").form-control#description
                    .form-group
                        label(for="category") category
                        input.form-control(type="text", name="category")#category
                    .form-group
                        label(for="price") price
                        input.form-control(type="number", name="price", step="0.01")#price

                    button.btn(type="submit") Add Product

