extends ./../layouts/admin-layout

block content
    .container-fluid
        .row
            .col-lg-12
                .card
                    .card-body
                        .card-title
                            h4 #{title}
                        form.product-form(action=formAction, method="POST")
                            .form-row
                                .col
                                    .form-group
                                        label(for="title") Title
                                        input.form-control(type="text", name="title")#title
                                .col        
                                    .form-group
                                        label(for="imageUrl") Image url
                                        input.form-control(type="text", name="imageUrl")#imageUrl
                            .form-group
                                label(for="description") description
                                textarea(name="description", cols="30", rows="10").form-control#description
                            .form-row
                                .col
                                    .form-group
                                        label(for="category") category
                                        input.form-control(type="text", name="category")#category
                                .col        
                                    .form-group
                                        label(for="price") price
                                        input.form-control(type="number", name="price", step="0.01")#price
                            
                            button.btn(type="submit") #{title}
