html(lang="en")
    head
        style
            include ../public/css/global.css
            include ../public/css/customer/invoice.css
    body
        table.invoice__products
            thead
                tr
                    th Name
                    th Qnt
                    th Price
            tbody
                each prod in order.products
                    tr
                        td #{prod.product.title}
                        td #{prod.quantity}
                        td $ #{prod.product.price}
            tfoot
                tr
                    td Total price  #{order.totalPrice}
