<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Octoshop - Dashboard - #{docTitle}
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/admin/dashboard.css")
        block styles
    body(class=(user && isAdmin ? "admin__dashboard" : ""))
        if user && isAdmin
            section.admin__bar
                .admin__bar_nav
                    a.admin__bar_link(href='/admin/products') Dashboard
                    a.admin__bar_link(href='/products') Shop
        .nav-header
            .brand-logo
                a(href="/", target="_blank")
                    span.brand-title OctoShop
        .header
            .header-content.clearfix
                .header-right
                    ul.clearfix
                        li.icons.dropdown
                            #openProfile.user-img.c-pointer.position-relative
                                img(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",height="40",width="40",alt="")
                            .drop-down.dropdown-profile.animated.fadeIn.dropdown-menu#dropdownProfile
                                .dropdown-content-body
                                    ul
                                        li
                                            a(href="app-profile.html")
                                                i.fa.fa-user
                                                span #{user.username}
                                        hr
                                        li
                                            form(action="/logout", method="POST")
                                                input(type="hidden",name="_csrf" value=csrfToken)
                                                button.button--reset.nav-link(type="submit") Logout                                                
        main.main-content
            block content

        .nav-sidebar
            ul
                    li.nav-label Dashboard
                    li
                        a(href="./index.html") 
                            i.fa.fa-bar-chart
                            span Home
                    li.mega-menu-item
                        a.has-arrow(href="javascript:void()", aria-expanded="false")
                            i.fa.fa-book.menu-icon
                            span.nav-text Products
                        ul.mega-menu.collapse(aria-expanded="false") 
                            li
                                a(href="/admin/products") All products
                            li
                                a(href="/admin/add-product") Add product
                    li.mega-menu-item
                        a.has-arrow(href="javascript:void()", aria-expanded="false")
                            i.fa.fa-object-ungroup.menu-icon
                            span.nav-text Categories
                        ul.mega-menu.collapse(aria-expanded="false") 
                            li
                                a(href="/admin/categories") All categories
                            li
                                a(href="/admin/add-category") Add category

        script(src="/js/admin/scripts.js")