extends ./../layouts/shop-layout
block styles
    link(rel="stylesheet", href="/css/customer/customer.css")

block content
    .pt-100
        .bk--grey.ptb-60
            .container
                .row
                    .col-lg-12
                        .row
                            .col-lg-12
                                h1.page__title My Account
                        .row
                            .col-lg-4
                                .customer__section
                                    h4 Welcome, 
                                        strong #{user.username}
                                    ul.customer__menu
                                        li.customer__menu-item
                                            a.customer__menu-link(href="/orders" class=(path==="/orders" ? "active" : ""))
                                                svg.customer__menu-svg(xmlns="http://www.w3.org/2000/svg", x="0px", y="0px", viewBox="0 0 432.002 432.002", style="enable-background:new 0 0 432.002 432.002;", xml:space="preserve")
                                                    g
                                                        g  
                                                            path(d="M399.913,111.306c-0.016-0.232-0.056-0.464-0.096-0.704c-0.147-0.918-0.453-1.803-0.904-2.616v-0.056    c0-0.056-0.088-0.088-0.128-0.144c-0.47-0.736-1.059-1.387-1.744-1.928c-0.169-0.147-0.345-0.286-0.528-0.416    c-0.144-0.104-0.264-0.232-0.416-0.328l-176-104c-2.512-1.485-5.633-1.485-8.144,0l-176,104c-2.444,1.434-3.948,4.054-3.952,6.888    v208c-0.001,2.829,1.493,5.448,3.928,6.888l176,104c0.206,0.1,0.417,0.188,0.632,0.264c0.232,0.112,0.456,0.208,0.696,0.296    c1.755,0.736,3.733,0.736,5.488,0c0.24-0.088,0.464-0.184,0.696-0.296c0.215-0.076,0.426-0.164,0.632-0.264l176-104    c2.435-1.44,3.929-4.059,3.928-6.888v-208C400.001,111.762,399.929,111.538,399.913,111.306z M158.665,51.17l69.264,40.928    c3.754,2.33,8.686,1.176,11.016-2.577c2.33-3.754,1.176-8.686-2.577-11.016c-0.097-0.06-0.195-0.118-0.295-0.174l-61.672-36.448    l41.6-24.584l160.272,94.704l-41.6,24.584l-74.592-44.08c-3.804-2.249-8.711-0.988-10.96,2.816s-0.988,8.711,2.816,10.96    l67.008,39.6l-41.6,24.584l-160.28-94.704L158.665,51.17z M326.665,159.898v53.424l-41.328,24.424v-53.424L326.665,159.898z     M384.001,315.434l-160,94.544v-25.976c0-4.418-3.582-8-8-8s-8,3.582-8,8v25.976l-160-94.544V116.57l53.336-31.52l160.264,94.712    l-45.6,26.944l-144.848-85.6c-3.804-2.249-8.711-0.988-10.96,2.816s-0.988,8.711,2.816,10.96l144.992,85.688v131.432    c0,4.418,3.582,8,8,8s8-3.582,8-8V220.57l45.336-26.792v57.984c-0.001,4.418,3.58,8.001,7.998,8.002    c1.433,0,2.84-0.384,4.074-1.114l57.328-33.848c2.435-1.44,3.929-4.059,3.928-6.888V150.45l41.336-24.432V315.434z")
                                                    g
                                                        g
                                                            path(d="M72.001,264.002c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8s8-3.582,8-8v-32    C80.001,267.584,76.419,264.002,72.001,264.002z")
                                                    g
                                                        g
                                                            path(d="M104.001,280.002c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8s8-3.582,8-8v-32    C112.001,283.584,108.419,280.002,104.001,280.002z")
                                                span Orders
                                                .arrow
                                        li.customer__menu-item
                                            a.customer__menu-link(href="/orders")
                                                svg.customer__menu-svg(xmlns="http://www.w3.org/2000/svg", x="0px", y="0px", viewBox="0 0 432.002 432.002", style="enable-background:new 0 0 432.002 432.002;", xml:space="preserve")
                                                    g
                                                        g  
                                                            path(d="M399.913,111.306c-0.016-0.232-0.056-0.464-0.096-0.704c-0.147-0.918-0.453-1.803-0.904-2.616v-0.056    c0-0.056-0.088-0.088-0.128-0.144c-0.47-0.736-1.059-1.387-1.744-1.928c-0.169-0.147-0.345-0.286-0.528-0.416    c-0.144-0.104-0.264-0.232-0.416-0.328l-176-104c-2.512-1.485-5.633-1.485-8.144,0l-176,104c-2.444,1.434-3.948,4.054-3.952,6.888    v208c-0.001,2.829,1.493,5.448,3.928,6.888l176,104c0.206,0.1,0.417,0.188,0.632,0.264c0.232,0.112,0.456,0.208,0.696,0.296    c1.755,0.736,3.733,0.736,5.488,0c0.24-0.088,0.464-0.184,0.696-0.296c0.215-0.076,0.426-0.164,0.632-0.264l176-104    c2.435-1.44,3.929-4.059,3.928-6.888v-208C400.001,111.762,399.929,111.538,399.913,111.306z M158.665,51.17l69.264,40.928    c3.754,2.33,8.686,1.176,11.016-2.577c2.33-3.754,1.176-8.686-2.577-11.016c-0.097-0.06-0.195-0.118-0.295-0.174l-61.672-36.448    l41.6-24.584l160.272,94.704l-41.6,24.584l-74.592-44.08c-3.804-2.249-8.711-0.988-10.96,2.816s-0.988,8.711,2.816,10.96    l67.008,39.6l-41.6,24.584l-160.28-94.704L158.665,51.17z M326.665,159.898v53.424l-41.328,24.424v-53.424L326.665,159.898z     M384.001,315.434l-160,94.544v-25.976c0-4.418-3.582-8-8-8s-8,3.582-8,8v25.976l-160-94.544V116.57l53.336-31.52l160.264,94.712    l-45.6,26.944l-144.848-85.6c-3.804-2.249-8.711-0.988-10.96,2.816s-0.988,8.711,2.816,10.96l144.992,85.688v131.432    c0,4.418,3.582,8,8,8s8-3.582,8-8V220.57l45.336-26.792v57.984c-0.001,4.418,3.58,8.001,7.998,8.002    c1.433,0,2.84-0.384,4.074-1.114l57.328-33.848c2.435-1.44,3.929-4.059,3.928-6.888V150.45l41.336-24.432V315.434z")
                                                    g
                                                        g
                                                            path(d="M72.001,264.002c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8s8-3.582,8-8v-32    C80.001,267.584,76.419,264.002,72.001,264.002z")
                                                    g
                                                        g
                                                            path(d="M104.001,280.002c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8s8-3.582,8-8v-32    C112.001,283.584,108.419,280.002,104.001,280.002z")
                                                span Orders
                                                .arrow
                                        li.customer__menu-item
                                            a.customer__menu-link(href="/orders")
                                                svg.customer__menu-svg(xmlns="http://www.w3.org/2000/svg", x="0px", y="0px", viewBox="0 0 432.002 432.002", style="enable-background:new 0 0 432.002 432.002;", xml:space="preserve")
                                                    g
                                                        g  
                                                            path(d="M399.913,111.306c-0.016-0.232-0.056-0.464-0.096-0.704c-0.147-0.918-0.453-1.803-0.904-2.616v-0.056    c0-0.056-0.088-0.088-0.128-0.144c-0.47-0.736-1.059-1.387-1.744-1.928c-0.169-0.147-0.345-0.286-0.528-0.416    c-0.144-0.104-0.264-0.232-0.416-0.328l-176-104c-2.512-1.485-5.633-1.485-8.144,0l-176,104c-2.444,1.434-3.948,4.054-3.952,6.888    v208c-0.001,2.829,1.493,5.448,3.928,6.888l176,104c0.206,0.1,0.417,0.188,0.632,0.264c0.232,0.112,0.456,0.208,0.696,0.296    c1.755,0.736,3.733,0.736,5.488,0c0.24-0.088,0.464-0.184,0.696-0.296c0.215-0.076,0.426-0.164,0.632-0.264l176-104    c2.435-1.44,3.929-4.059,3.928-6.888v-208C400.001,111.762,399.929,111.538,399.913,111.306z M158.665,51.17l69.264,40.928    c3.754,2.33,8.686,1.176,11.016-2.577c2.33-3.754,1.176-8.686-2.577-11.016c-0.097-0.06-0.195-0.118-0.295-0.174l-61.672-36.448    l41.6-24.584l160.272,94.704l-41.6,24.584l-74.592-44.08c-3.804-2.249-8.711-0.988-10.96,2.816s-0.988,8.711,2.816,10.96    l67.008,39.6l-41.6,24.584l-160.28-94.704L158.665,51.17z M326.665,159.898v53.424l-41.328,24.424v-53.424L326.665,159.898z     M384.001,315.434l-160,94.544v-25.976c0-4.418-3.582-8-8-8s-8,3.582-8,8v25.976l-160-94.544V116.57l53.336-31.52l160.264,94.712    l-45.6,26.944l-144.848-85.6c-3.804-2.249-8.711-0.988-10.96,2.816s-0.988,8.711,2.816,10.96l144.992,85.688v131.432    c0,4.418,3.582,8,8,8s8-3.582,8-8V220.57l45.336-26.792v57.984c-0.001,4.418,3.58,8.001,7.998,8.002    c1.433,0,2.84-0.384,4.074-1.114l57.328-33.848c2.435-1.44,3.929-4.059,3.928-6.888V150.45l41.336-24.432V315.434z")
                                                    g
                                                        g
                                                            path(d="M72.001,264.002c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8s8-3.582,8-8v-32    C80.001,267.584,76.419,264.002,72.001,264.002z")
                                                    g
                                                        g
                                                            path(d="M104.001,280.002c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8s8-3.582,8-8v-32    C112.001,283.584,108.419,280.002,104.001,280.002z")
                                                span Orders  
                                                .arrow                                                                                                 
                            .col-lg-8
                                .customer__section
                                    block content-customer
                                
    