<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Octoshop - #{docTitle}
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/shop/buttons.css")
        link(rel="stylesheet", href="/css/errors.css")
        block styles
    body
        block content