extends ./../layouts/main-layout

block content
    block shop-content
    footer.footer
        .container.ptb-60
            .row
                .col-lg-4
                    a(href="/", title="Octoshop - the delicious sustainable and healthy superfood")
                        img.footer__logo(src="/img/logo.png", alt="Octoshop - the delicious sustainable and healthy superfood")
                        span.navbar-brand Octoshop
                .col-lg-4
                    ul.footer__menu
                        li.footer__menu-item 
                            a.footer__menu-link(href="/", title="Octoshop - the delicious sustainable and healthy superfood") Homepage
                        li.footer__menu-item 
                            a.footer__menu-link(href="/about", title="Octoshop - About") About Octoshop
                        li.footer__menu-item 
                            a.footer__menu-link(href="/products", title="Octoshop - All products") All products
                .col-lg-4
                    ul.footer__menu
                        li.footer__menu-item 
                            a.footer__menu-link(href="/account", title="Octoshop - My Account") My Account
                        li.footer__menu-item 
                            a.footer__menu-link(href="/terms", title="Octoshop - Terms & Conditions") Terms & Conditions
                        li.footer__menu-item 
                            a.footer__menu-link(href="/contact", title="Octoshop - Contact") Contact