@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
* {
    box-sizing: border-box;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    color: #09382c;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.ptb-60 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bk--grey {
    background-color: #f4f8f7;
}

.ptb-120 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pt-100 {
    padding-top: 87px;
}

input[type="number"] {}

.credit__link {
    color: #00a499;
    text-decoration: none;
}

.credit {
    font-size: 13px;
    padding: 10px 0;
    background-color: #d3f1e8;
}

.credit__icon {
    color: #a40029;
}

.alert-danger {
    border-left: 5px solid #a40500;
    border-color: #a40500;
    background-color: #ffebed;
}

.alert {
    border-radius: 0;
}
.form-control.invalid {
    border-color: #a40500
}

.button--reset{
    padding: 0;
    border: none;
    background-color: transparent;
}

.page-item .page-link{
    color: #00a499;
}
.page-link {
    outline: none;
    font-size: 13px;
    box-shadow:none;
    padding: 0.6rem 1rem;
}
.page-item.active .page-link{
    background-color: #00a499;
    color: #fff;
    border-color: #00a499;
}

.pagination__nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-control-file{
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
    border: none;
    background: transparent;
    opacity: 0;

}
.form-control-file-label{
    width: 80%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
}

.form-control-file-btn{    
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*ADMIN BAR*/
.admin__bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #052e24;
    color: #fff;
    padding: 5px 15px;
    text-align: right;
}

.admin__bar_link{
    margin-left: 15px;
    color: #fff;
    font-size: 16px;
}

.admin__bar_nav{

}

@media screen and (min-width:992px) {
    .ptb-60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .ptb-120 {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}