@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #09382c;
  font-family: 'Roboto', sans-serif;
}

a:hover, a:active{
  color: #00a499
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  padding: 30px 0;
  /*background-color: #00a499;*/
}

.nav-link{
  color: #09382c;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-link.active{
  color: #00a499
}

.main-header .navbar{
  padding: 0
}

.navbar-brand{
  font-family: 'Gentium Basic', serif;
  color: #00a499;
  font-weight: 700;
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 35px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.product__title {
  font-family: 'Gentium Basic', serif;
  font-size: 22px;
  font-weight: 700;
}

.product__content {
  margin-top: 20px;
}

.product__description {
  font-size: 14px;
}

.product__content h1,
.product__content h2,
.product__content p {
  margin: 0;
}

.product__image {
  width: 100%;
}

.product__image img {
  width: 100%;
}



.product__actions {
    text-align: center;
}

.product__category {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  color: #7a8184;
  margin-top: 3px;
}
/*
.btn {
  font: inherit;
  border: 1px solid #c8caca;
  color: #00a499;
  background: white;
  cursor: pointer;
  line-height: 45px;
  font-size: 14px;
  padding: 0 15px;
}

.btn:hover,
.btn:active {
  background-color: #00a499;
  color: white;
}*/

.product__btn--full {
  position: relative;
  padding: 1rem 1.5rem;
  width: 100%;
  line-height: 1;
  margin: 30px 0 0 0;
  border: 0;
  box-shadow: none;
}

.btn--green {
  color: #fff;
  background-color: #00a499;
  height: 48px;
}


