extends ./../layouts/error-layout
block content
        .container.pt-100
            .row
                .col-lg-12.text-center
                    h1 403
                    p Forbidden.
                    a.btn.btn--green(href="/") Octoshop