extends ./../layouts/shop-layout

block content
    section.banner
        .container
            .row
                .col-lg-12
    
    section.pt-60
        .container
            .row
                .col-lg-6
                    h2.section__title Titolo paragrafo
                    p.section__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eum dolores dolore animi quod? Nisi porro modi aperiam quidem cum, oloremque illum eveniet saepe iste temporibus pariatur explicabo rerum.
                .col-lg-6
                    img(src="", alt=" ")

