extends ./../layouts/shop-layout

block shop-content
    section.banner
        .banner__img
        .banner__text
            .container
                .row
                    .col-lg-10.offset-lg-1
                        h1.banner__title Welcome to Octoshop - the delicious sustainable and healthy superfood.
                        a.btn.btn--green-shadow Buy now

    section.ptb-120
        .container
            .row
                .col-lg-6
                    h2.section__title Introducing: <br> Octoshop
                    p.section__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eum dolores dolore animi quod? <br>Nisi porro modi aperiam quidem cum, oloremque illum eveniet saepe iste temporibus pariatur explicabo rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, repellat odit. Reiciendis enim harum dolorum error suscipit quod dicta ad ipsum, exercitationem molestias quos. Pariatur voluptatem repellendus quo nulla cupiditate!
                    a.btn.btn--green-shadow Get yours
                .col-lg-6.text-center
                    img.intro__img(src="/img/caffee.png", alt="Welcome to Octoshop - the delicious sustainable and healthy superfood.")

    section.ptb-120.bk--grey
        .container
            .row
                .col-lg-12
                    h2.section__title What's new at OctoShop
            .row
                if prods.length>0
                        each product in prods
                            .col-lg-4
                                article.product
                                    a.product__image(href="/products/"+product._id)
                                        img(src="/"+product.imageUrl, alt=product.title) 
                                    .product__content
                                        a.product__link(href="/products/"+product._id)
                                    .product__actions
                                        a.btn.btn--blue-outline(href="/products/"+product._id) #{product.title} +
                                            
                else
                    .col-lg-12
                        h1 No products


