extends ./../layouts/shop-layout

block content
    section.banner
        .banner__img
        .banner__text
            .container
                .row
                    .col-lg-10.offset-lg-1
                        h1.banner__title Welcome to Octoshop - the delicious sustainable and healthy superfood.
                        a.btn.btn--green-shadow Buy now

    section.ptb-120
        .container
            .row
                .col-lg-6
                    h2.section__title Introducing: <br> Octoshop
                    p.section__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eum dolores dolore animi quod? <br>Nisi porro modi aperiam quidem cum, oloremque illum eveniet saepe iste temporibus pariatur explicabo rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, repellat odit. Reiciendis enim harum dolorum error suscipit quod dicta ad ipsum, exercitationem molestias quos. Pariatur voluptatem repellendus quo nulla cupiditate!
                    a.btn.btn--green-shadow Get yours
                .col-lg-6
                    img(src="", alt=" ")

