extends ./../layouts/shop-layout

block shop-content
    .container.pt-100.height
        .row
            .col-lg-12
                .row
                    .col-lg-12.text-center
                        h1.page__title Login
                .row
                    .col-lg-6.offset-3
                        if errorMessage
                            .alert.alert-danger.mb-3  #{errorMessage}
                        form(action="/login", method="POST")
                            input(type="hidden",name="_csrf" value=csrfToken)
                            input.form-control#email(type="text", name="email", placeholder="Email")
                            input.form-control#password(type="password" name="password", placeholder="Password")
                            button.btn.btn--full.btn--green-shadow(type="submit") Login
                        .text-center.mt-3
                            a(href="/reset") Forget password?

                    