extends ./../layouts/shop-layout

block shop-content
    .container.pt-100
        .row
            .col-lg-12
                .row
                    .col-lg-12.text-center
                        h1.page__title Reset password
                .row
                    .col-lg-6.offset-3
                        if errorMessage
                            .alert.alert-danger.mb-3  #{errorMessage}
                        form(action="/reset", method="POST")
                            input(type="hidden",name="_csrf" value=csrfToken)
                            input.form-control#email(type="text", name="email", placeholder="Email")
                            button.btn.btn--full.btn--green-shadow(type="submit") Reset

                    