extends ./../layouts/shop-layout

block shop-content
    .container.pt-100
        .row
            .col-lg-12
                .row
                    .col-lg-12.text-center
                        h1.page__title Signup
                .row
                    .col-lg-6.offset-3
                        if errorMessage
                            .alert.alert-danger.mb-3  #{errorMessage}
                        form(action="/signup", method="POST")
                            input(type="hidden",name="_csrf" value=csrfToken)
                            input.form-control#username(type="text", name="username", placeholder="Username", required)
                            input.form-control#email(type="text", name="email", placeholder="Email", required)
                            input.form-control#password(type="password" name="password", placeholder="Password", required)
                            input.form-control#confirmPassword(type="password" name="confirmPassword", placeholder="Confirm password", required)
                            button.btn.btn--full.btn--green-shadow(type="submit") SignUp

                    